*{
    font-family: Monda, arial ;
}
header{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.logoo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-left: 20px;
}
.logo{
    width: 100px;
    height: 100px;
}
.nav{
    margin-right: 50px;

}
a{
    color: white;
    text-decoration: none;
    padding: 9px;
}